div(class='Overlay hidden')
	div(class='OverlayClose')
	iframe(class='OverlayVideo')
	div(class='OverlayInfo')
		a(class='VideoTitle' href=href)='title'
		div(class='VideoDescription')
			p(class='VideoChannel')='Posted on ' + 'Channel'
			p(class='VideoPostedTime')='at '+ 'postedTime'
			p(class='VideoView')='views: 12,345'
		ul(class='VideoLabels')
