
div(class='TopBarLabels')
	div(class='LastLabel')
		p(class='LastLabelName')
	div(class='CurrentLabel')
		p(class='CurrentLabelName')
		ul(class='CurrentLabelRelations')
			- for (var x = 0; x < 10; x++)
				li(class='CurrentLabelRelationsName')

