configs = {
    env: "staging",
}
    
configs.dev = {
    ENV_NAME: "dev",
    TUMBLR_SEARCH_URL: 'https://www.tumblr.com/search/',
    TUMBLR_SEARCH_KEYWORDS: ['sims', 'sims+4', 'simblr'],
    YOUTUBE_SEARCH_KEYWORDS: ['battlefront'],
    TWITTER_SEARCH_KEYWORDS: ['star wars battlefront -2 -II'],
    DB_URL: 'mongodb://localhost:27017/tada-test',
    SCRAPE_TIME: '*/5 * * * *',
    SCHEDULE_SCRAPE: true,
    STANDARD_SCORE: true,
    LOGGER_LEVEL: 'debug',
    DB_COLLECTION: 'image_posts',
    TEST_DB_COLLECTION: 'twitter_scrape',
    SCREENSHOTS_PER_VIDEO: 5,
    NLP_SCORE_FACTOR: 100
},

configs.staging = {
    ENV_NAME: "staging",
    TUMBLR_SEARCH_URL: 'https://www.tumblr.com/search/',
    TUMBLR_SEARCH_KEYWORDS: ['sims', 'sims+4', 'simblr'],
    YOUTUBE_SEARCH_KEYWORDS: ['battlefront'],
    TWITTER_SEARCH_KEYWORDS: ['star wars battlefront -2 -II'],
    DB_URL: 'mongodb://localhost:27017/tada-test',
    SCRAPE_TIME: '*/5 * * * *',
    SCHEDULE_SCRAPE: true,
    STANDARD_SCORE: true,
    LOGGER_LEVEL: 'debug',
    DB_COLLECTION: 'image_posts',
    TEST_DB_COLLECTION: 'twitter_scrape',
    SCREENSHOTS_PER_VIDEO: 5,
    NLP_SCORE_FACTOR: 100
}

module.exports = configs[configs.env];

