html
    head
    body
        each list in video_lists
            h3=list.key
            each video in list.value
                - url = `https://www.youtube.com/embed/${video.local_id}`
                iframe(width=200 height=200 src=url frameborder=0 allowfullscreen)
                