extends layout.pug

block scripts
    script(src="../manage/js/app.js")

block content
    .container(ng-app="dashboard" ng-controller="metaLabelCtrl")
        .row
            .col-md-12
                h3 CREATE META LABEL
        .row
            .col-md-2
                p Label Name:
            .col-md-4
                input(type="text" name="newMetaLabelName" ng-model="new_meta_label_name")
            .col-md-6
                button(ng-click="createMetaLabel()") Create
        
        .row
            .col-md-4
                .row
                    .col-md-12
                        h3 META LABELS
                .row
                    .col-md-12
                        .meta-label(ng-repeat="label in meta_labels"  ng-class="{ 'selected': label._id == selected_meta_label_id}")
                            .row
                                .col-md-8(ng-click="selectMetaLabel(label._id)")
                                    h4 {{ label.name }}
                                .col-md-4
                                    

            .col-md-4
                .row
                    .col-md-12
                        h3 LABELS UNDER
                    
                .row
                    .col-md-12
                        .label(ng-repeat="label in assigned_labels")
                            .row
                                .col-md-8
                                    h4 {{ label.name }}
                                .col-md-4
                                    button(ng-click="unassignLabel(label._id)") -

            .col-md-4
                .row
                    .col-md-12
                        h3 UNASSIGNED LABELS
                    .col-md-12
                        label Search
                        input(ng-model="label_filter")
                .row
                    .col-md-12
                        .label(ng-repeat="label in unassigned_labels | filter:label_filter")
                            .row
                                .col-md-8
                                    h4 {{ label.name }}
                                .col-md-4
                                    button(ng-click="assignLabel(label._id)") +
        
       
            