
body {
	font-family: 'Raleway', sans-serif;
	background-color: #10181d;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.Header {
	position: fixed;
	height: 70px;
	top: -60px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 100;
	-webkit-transition: top 0.2s; /* Safari */
    transition: top 0.2s;
}

.Header:hover {
	top: 0;
}

.Logo {
	height: 30px;
	float: right;
	margin: 20px;
}

.Title {
	font-size: 22px;
	text-transform: uppercase;
	float: right;
	color: #fff;
	font-weight: 900;
}

.LeftBarLabels {
	width: 280px;
	padding: 20px;
	height: 100vh;
	overflow-y: auto;
	list-style: none;
	float: left;
	margin: 0;
}

.LeftBarLabels::-webkit-scrollbar-track {
	background-color: #10181d;
}

.LeftBarLabels::-webkit-scrollbar {
	background-color: #10181d;
	width: 10px;
}

.LeftBarLabels::-webkit-scrollbar-thumb {
	background-color: #223c4c;
}

.LeftBarLabel {
	position: relative;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

.LeftBarLabelName {
	width: 200px;
	position: relative;
	left: 0;
	float: left;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
	color: #ababab;
	margin: 10px 0;
}

.LeftBarLabel *:hover {
	color: #fff;
}

.LeftBarLabelCount {
	position: relative;
	right: 0;
	float: right;
	display: table-cell;
	vertical-align: middle;
	color: #ababab;
	font-size: 20px;
	margin: 10px 0;
}

.TopBarLabels {
	position: absolute;
	left: 300px;
	overflow: hidden;
	text-transform: uppercase;
}

.LastLabelName {
	font-size: 26px;
	font-weight: 900;
	margin: 10px 50px;
	color: #28539A;
}

.CurrentLabelRelations {
	list-style: none;
	display: inline-block;
	margin: 0;
}

.CurrentLabelName {
	font-size: 42px;
	font-weight: 900;
	margin: 0 50px;
	color: #fff;
}

.CurrentLabelRelationsName {
	float: left;
	margin: 10px;
	color: #ababab;
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
}

.CurrentLabelRelationsName:hover {
	color: #fff;
}

.Canvas {
	position: absolute;
	top: 120px;
	right: 50px;
	float: right;
	width: 1000px;
	height: 700px;
	overflow: hidden;
}

canvas {
	position: absolute;
	right: 0;
}

.Overlay {
	opacity: 0;
	position: absolute;
	height: 700px;
	width: 1120px;
	margin: auto;
	top: 100px;
	left: 200px;
	-webkit-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
}

.OverlayVideo {
	width: 100%;
	height: 80%;
	border: none;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
}

.OverlayInfo {
	height: 20%;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.8);
}

.VideoTitle {
	font-size: 24px;
	text-decoration: none;
	color: #70abaf;
}

.VideoTitle:hover {
	opacity: 0.5;
}

.VideoDescription {
	color: #ababab;
}

.VideoChannel {
	float: left;
	margin: 5px 5px 5px 0;
}

.VideoView {
	float: left;
	margin: 5px 20px 5px 0;
}

.VideoPostedTime {
	float: left;
	margin: 5px 20px 5px 0;
}

.VideoLabels {
	float: left;
	padding: 0;
	margin: 5px 0;
	display: inline-block;
	width: 100%;
}

.VideoLabelsName {
	float: left;
	list-style: none;
	margin-right: 20px;
	font-weight: 900;
	cursor: pointer;
	text-transform: uppercase;
}
.VideoLabelsName:hover {
	opacity: 0.5;
}

.OverlayClose {
	height: 40px;
	width: 40px;
	position: absolute;
	right: -20px;
	top: -20px;
	background-image: url('http://area.in/images/closeIcon.png');
	background-size: 40px 40px;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.reveal {
	z-index: 100;
}

.load {
	opacity: 1;
}

#Footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
}

.Timeline {
	position: relative;
	width: 100%;
	background-color: #efefef;
	height: 40px;
}

.TimelineSlider {
	position: absolute;
	width: 200px;
	right: 0;
	background-color: #6f6f6f;
	height: 100%;
}

.TimelineSlider:hover {
	opacity: 0.8;
}

.TimelineHandleLower {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 20px;
	background-color: #ffc267;
	height: 100%;
}

.TimelineHandleUpper {
	display: inline-block;
	position: absolute;
	right: 0;
	width: 20px;
	background-color: #ff6e67;
	height: 100%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #10181d;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
