
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f5f5f6;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	font-size: 25px;
	font-weight: 100;
	color: #333;
}

p{
	font-family: 'Open Sans', sans-serif;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

button:focus {
	outline:0;
}

.Tips {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 3000;
	text-align: center;
	position: relative;
}

.mini {
	height: 20px;
	width: 20px;
	background-color: #f4c741;
	top: 0;
	left: 0;
	cursor: pointer;
	background-image: url(../images/info.png);
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: center;
}

.TipsClose {
	height: 40px;
	width: 40px;
	position: absolute;
	left: 20px;
	top: 20px;
	background-image: url('http://area.in/images/closeIcon.png');
	background-size: 40px 40px;
	cursor: pointer;
}

.TipsTable {
	position: relative;
	top:40px;
	width: 40%;
	margin: 0 auto;
	text-align: left;
}

.TipsImage {
	width: 50px;
	padding: 20px;
	opacity: 1;
}

.TipsText {
	color: #fff;
	padding: 20px;
}

.Header {
	position: fixed;
	height: 70px;
	top: -60px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 100;
	-webkit-transition: top 0.2s; /* Safari */
    transition: top 0.2s;
}

.Header:hover {
	top: 0;
}

.Logo {
	height: 30px;
	float: right;
	margin: 20px;
}

.Title {
	font-size: 22px;
	text-transform: uppercase;
	float: right;
	color: #fff;
	font-weight: 900;
}

.LeftBar {
	position: relative;
	width: calc(100% - 530px);
	height: 250px;
	padding-bottom: 0;
	-webkit-transition: height 0.2s; 
	transition: height 0.2s;
}

.LeftBarHeader {
	color: #aaa;
	padding: 10px 20px 10px 20px;
}

.LeftBarHeatmapLegend {
	position: absolute;
	left: 200px;
	top: 15px;
	width: 200px;
}

.LeftBarHeatmapLegendImg {
	width: 200px;
}

.LeftBarHeatmapLegendText {
	font-size: 10px;
	color: #333;
	float: left;
	margin: 0;
	margin-right: 30px;
}

.LeftBarHeatmapLegendText:last-child {
	margin-right: 0;
}

.LeftBarLabels {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	list-style: none;
	float: left;
	margin: 0;
	margin-top: 10px;
}

::-webkit-scrollbar-track {
	background-color: #b1bdc6;
}

::-webkit-scrollbar {
	background-color: #b1bdc6;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #82909b;
}

.LeftBarLabel {
	position: relative;
	display: inline-block;
	width: 150px;
	cursor: pointer;
	margin: 15px 15px 0 15px;
}

.LeftBarLabel .LeftBarLabelTooltip {
	visibility: hidden;
	width: auto;
	background-color: #01579b;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	padding: 5px 10px;
	position: absolute;
	z-index: 1;
}

.LeftBarLabel:hover {
	-ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Safari */
	transform: scale(1.05, 1.05);
	transition: all 0.2s;
}

.LeftBarLabel:hover .LeftBarLabelTooltip {
	visibility: visible;
	z-index: 1;
}

.LeftBarLabel * {
	pointer-events:none;
}

.LeftBarLabelHeatmap {
	height: 40px;
	margin: 0 auto 10px;
}

.LeftBarLabelHeatmapSVG {
	/* padding-left: 2.5px; */
	height: 40px;
	width: 100%;
	stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
	animation: draw 3s ease-out 1 forwards;
}

.Selected {
	background-color: #999;
}

.LeftBarLabelName {
	max-width: 100px;
	display: -webkit-box;
	height: 38px;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-all;
	text-transform: uppercase;
	font-weight: 600;
	color: #333;
	margin: 0px 0px;
	float: left;
	font-size: 12px;
	/* white-space: nowrap; */
}

.LeftBarLabelCount {
	position: absolute;
	right: 0;
	color: #333;
	margin: 0px 0px 0px;
	font-size: 12px;
}

.SearchContainer {
	position: absolute;
	top: 10px;
	right: 110px;
}

.SearchTitle {
	color: #333;
	float: left;
	margin: 0;
	margin-right: 20px;
}

.SearchField {
	float: left;
	border-bottom: 1px solid #fff;
}

.SearchButton {
	height: 20px;
	width: 20px;
	top: 0;
	cursor: pointer;
	background-image: url(../images/add.png);
	background-size: 20px 20px;
}

.TopBarLabels {
	position: relative;
	height: 30px;
	text-transform: uppercase;
	background-color: #01579b;
	padding: 10px 50px;
	list-style: none;
	overflow: auto;
  width: 100%;
}

.TopBarLabels>ul {
	margin: 0;
}

.TopBarLabel {
	float: left;
	list-style: none;
	margin-right: 30px;
	transition: 300ms ease;
}

.TopBarLabelName {
	display: inline-block;
	font-weight: 900;
	color: #fff;
	margin: 0;
}

.TopBarLabelRemove {
	display: inline-block;
	position: relative;
	left: 2px;
	top: 3px;
	height: 20px;
	width: 20px;
	background-image: url('http://area.in/images/closeIcon.png');
	background-size: 20px 20px;
	cursor: pointer;
}

.HideTop {
	position: absolute;
	right: 200px;
	top: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	text-transform: none;
	color: #fff;
	display: inline-block;
	padding: 2px 20px;
	cursor: pointer;
}

.HideBottom {
	position: absolute;
	right: 130px;
	top: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	text-transform: none;
	color: #fff;
	display: inline-block;
	padding: 2px 20px;
	cursor: pointer;
}

.HideTopBarText {
	display: inline-block;
	margin: 0;
	margin-right: 10px;
}

.HideTopBarIcon {
	display: inline-block;
	width: 12px;
	height: 12px;
}

.Canvas {
	position: relative;
	float: right;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
  align-items: flex-end;
}

.CanvasHeaderTitle {
	position: absolute;
	top: 345px;
	left: 20px;
	z-index: 200;
	-webkit-transition: top 0.2s;
  transition: top 0.2s;
}

.CanvasHeatmapLegend {
	position: absolute;
	left: 200px;
	top: 345px;
	width: 200px;
	-webkit-transition: top 0.2s;
  transition: top 0.2s;
}

.CanvasHeatmapLegendImg {
	width: 200px;
}

.CanvasHeatmapLegendText {
	font-size: 10px;
	color: #333;
	float: left;
	margin: 0;
	margin-right: 30px;
}

.CanvasHeatmapLegendText:last-child {
	margin-right: 0;
}

canvas {
	position: absolute;
	right: 0;
	padding-top:15px;
}

.Preview {
	position: absolute;
	width: 360px;
	height: 0;
	width: 0;
	opacity: 0;
	object-fit: cover;
	-webkit-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
	-webkit-transition: width 1s, height 1s;
	transition: width 1s, height 1s;
	cursor: pointer;
	display: flex;
  align-items: center;
  justify-content: center;
}

.PreviewImg {
	height: 120px;
	width: 120px;
	object-fit: cover;
	border-radius: 100px;
	border: 5px solid #f5f5f6;
	float: left;
}

.PreviewMeta {
	display: inline-block;
	height: auto;
	background-color: #093251;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	border: 10px solid #f5f5f6;
}

.PreviewTitle {
	margin: 0;
	margin-bottom: 5px;
	width: 200px;
}


.PreviewViews {
	float: left;
	margin: 0;
	margin-right: 10px;
}

.PreviewLikes {
	float: left;
	margin: 0;
}

.loadPreview {
	opacity: 1;
	height: 200px;
	width: 200px;
}

.Overlay {
	opacity: 0;
	position: absolute;
	height: 700px;
	width: 1120px;
	margin: auto;
	top: 100px;
	left: 200px;
	-webkit-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
}

.OverlayVideo {
	width: 100%;
	height: 80%;
	border: none;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
}

.OverlayInfo {
	height: 20%;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: scroll;
}

.OverlayInfo::-webkit-scrollbar { 
		display: none; 
}

.VideoTitle {
	font-size: 24px;
	text-decoration: none;
	color: #fff;
}

.VideoDescription {
	color: #fff;
}

/* look at what you've done.*/
.VideoChannel {
	float: left;
	margin: 5px 5px 5px 0;
}
.VideoView {
	float: left;
	margin: 5px 20px 5px 0;
}
.VideoPostedTime {
	float: left;
	margin: 5px 20px 5px 0;
}
.VideoComment {
	float: left;
	margin: 5px 20px 5px 0;
}
.VideoDislike {
	float: left;
	margin: 5px 20px 5px 0;
}
.VideoLike {
	float: left;
	margin: 5px 20px 5px 0;
}
.VideoFav {
	float: left;
	margin: 5px 20px 5px 0;
}
.VideoVLRatio {
	float: left;
	margin: 5px 20px 5px 0;
}
.VideoCaption {
	font-style: italic;
	float: left;
	color: #ababab;
}

.VideoLabelsTitle {
	margin: 0;
	float: left;
}

.VideoLabels {
	float: left;
	padding: 0;
	margin: 5px 0;
	display: inline-block;
	width: 100%;
}

.VideoLabelsName {
	float: left;
	list-style: none;
	margin-right: 20px;
	font-weight: 900;
	text-transform: uppercase;
}

.VideoLabelsNameCustomized {
	float: left;
	list-style: none;
	margin-right: 20px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fa9fb5;
}

.VideoAddNewLabel {
	float: left;
}

.VideoActions {
	position: absolute;
	right: 20px;
	top: 570px;
}

.ActionButton {
	float: right;
	margin: 10px;
}

.ActionButtonIcon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.ActionButtonIcon:hover {
	opacity: 0.8;
}

.VideoActionAdd {
	width: 200px;
	height: 300px;
	color: #333;
	background-color: #efefef;
	padding: 10px;
	position: absolute;
	left: 50px;
	bottom: 0;
	box-shadow: 3px 3px 5px grey;
}

.VideoActionAddTitle {
	font-weight: bolder;
}

.AddTo {
	height: 220px;
	overflow: scroll;
}

.AddTo::-webkit-scrollbar { 
	display: none; 
}

.AddToItem {
	padding: 10px 0;
	cursor: pointer;
	color: #111;
}

.added {
	opacity: 0.5;
}

.AddToItem:hover {
	font-weight: bolder;
}

.VideoActionShare {
	width: 200px;
	height: 80px;
	color: #333;
	background-color: #efefef;
	padding: 10px;
	position: absolute;
	left: 80px;
	bottom: 0;
	box-shadow: 3px 3px 5px grey;
}

.ShareURL {
	width: 150px;
}

.ShareButton {
	color: white;
	width: 45px;
	height: 20px;
	padding: 0;
	background-color: #167ac6;
	border: none;
	border-radius: 0 2px 2px 0;
	cursor: pointer;
}

.ShareButton:active {
	opacity: 0.7;
}

.VideoActionAddNewList {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border-top: 1px solid #ccc;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.VideoActionAddNewListIcon {
	float: left;
	width: 15px;
	height: 15px;
	margin: auto;
	margin-right: 10px;
}

.VideoActionAddNewListText {
	float: left;
	padding: 0;
	margin: auto;
	margin-left: 10px;
}

.VideoActionAddNewListInput {
	margin: auto;
	margin-right: 0;
}

.OverlayClose {
	height: 40px;
	width: 40px;
	position: absolute;
	right: -20px;
	top: -20px;
	background-image: url('http://area.in/images/closeIcon.png');
	background-size: 40px 40px;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.reveal {
	z-index: 100;
}

.load {
	opacity: 1;
}

#Footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
}

.Timeline {
	/* position: fixed; */
	/* bottom: 70px; */
	width: 100%;
	background-color: #6f6f6f;
	height: 30px;
}

.TimelineSlider {
	position: relative;
	width: 200px;
	right: 0;
	background-color: #efefef;
	height: 100%;
}

.TimelineSlider:hover {
	opacity: 0.7;
}

.TimelineHandleLower {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 20px;
	background-color: #efefef;
	height: 100%;
}

.TimelineHandleUpper {
	display: inline-block;
	position: absolute;
	right: 0;
	width: 20px;
	background-color: #efefef;
	height: 100%;
}

.Filters {
	float: right;
	top: 0;
	right: 20px;
	width: 500px;
	height: 300px;
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
			-khtml-user-select: none; /* Konqueror HTML */
				-moz-user-select: none; /* Firefox */
					-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none;
}

.FiltersHeaderTitle {
	margin-top: 10px;
	width: 80px;
	display: inline-block;
}

.FiltersReset {
	position: absolute;
	cursor: pointer;
	top: 30px;
	width: 60px;
	right: 430px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	background-color: #01579b;
	text-align: center;
	display: inline-block;
	font-size: 12px;
}

.FilterCanvas {
	width: 100%;
	height: 125px;
}

.FilterLabel {
	font-size: 14px;
	color: #333;
	position: absolute;
	right: 10px;
}

.FilterLeft {
	position: relative;
	width: 300px;
	height: 48%;
	right: 5px;
	margin: 5px 0;
	float: right;
}

.FilterRight {
	position: relative;
	width: 300px;
	height: 48%;
	right: 5px;
	margin: 5px 0;
	float: right;
}

.FilterLabel {
	margin-left: 10px;
}

.FilterGraph {
	border: 1px solid #333;
	height: 125px;
	width: 100%;
	position: absolute;
	top: 10px;
	stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
	animation: draw 3s ease-out 1s 1 forwards;
	pointer-events: visible;
}

.FilterYLabels {
	position: absolute;
	left: -60px;
	top: 0;
	width: 60px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.FilterYLabel:nth-child(2) {
	font-weight: bolder;
}

.FilterYLabel {
	margin: auto;
	font-size: 10px;
	margin-right: 10px;
	text-align: right;
}

@keyframes draw {
	from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.UpArrow {
    border-left: 5px solid transparent;
  	border-right: 5px solid transparent;  
  	border-bottom: 5px solid black;
  	position: absolute;
  	left: 134px;
  	bottom: 17px;
  	width: 0;
  	height: 0;
}

.DownArrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;  
	border-top: 5px solid black;
  	position: absolute;
  	left: 130px;
  	bottom: 17px;
  	width: 0;
  	height: 0;
}

.SwitchContainerX {
	position: absolute;
	display: inline-block;
	left: 10px;
	bottom: 10px;
}

.SwitchContainerY {
	position: absolute;
	display: inline-block;
	right: 20px;
	bottom: 550px;
}

.SwitchXDropdown {
	background-color: transparent;
	height: 40px;
	width: 150px;
	color: gray;
	padding: 0px;
	font-size: 11px;
	cursor: pointer;
	border: none;
	/*
	border-radius: 50px;
	*/
}

.SwitchYDropdown {
	background-color: transparent;
	height: 40px;
	width: 150px;
	color: gray;
	padding: 0px;
	font-size: 11px;
	cursor: pointer;
	border: none;
}

.DropdownButtons {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 150px;
	z-index: 1;
}

.SwitchContainerX > .DropdownButtons {
	bottom: 40px;
}

.Switch {
	color: black;
	height: 40px;
	font-size: 11px;
	text-decoration: none;
	display: block;
	border: none;
	background-color: #efefef;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.Switch:hover {
	background-color: #a6ccdc;
}

.active {
	/*background-color: #80b7cd;*/
}

.SwitchContainerX:hover .DropdownButtons {
	display: block;
}

.SwitchContainerY:hover .DropdownButtons {
	display: block;
}

.SwitchContainerX > .Switch {
	width: 160px;
	display: inline-block;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #10181d;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.Layout {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.Layout .TopbarContainer {
	width: 100%;
	flex: 0 1 auto;
	z-index: 99;
	position: fixed;
	top: 0;
	-webkit-transition: top 0.2s; /* Safari */
  transition: top 0.2s;
  background-color: #e1e2e1;
}

.Layout .CenterContainer {
	flex: 1 1 auto;
	position: relative;
}

.CenterContainer > div {
	position: absolute;
	height: 100%;
	width: 100%;
}

.Layout .FooterContainer {
	flex: 0 1 100px;
	position: relative;
	max-height: 70px;
}

.FooterSwitch {
	height: 70px;
}

.FooterSwitch > div {
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

html {
	height: 100%;
}

#app {
	height: 100%;
}