---
Scraper:
  youtube:
    keywords:
    - battlefront
  twitter:
    keywords:
    - battlefront
  content_freq: "*/30 * * * *"
  stats_freq: "*/30 * * * *"
  schedule_scraping: true
  start_time: 1507939202
  max_time_range: 2592000
Logger:
  level: debug
Database:
  url: mongodb://10.14.41.20:27017/tada-test
  video_collection: video
  label_collection: label
  meta_label_collection: meta_label
  cache_collection: label_cache
  stats_collection: stats
Server:
  port: 3000
Credentials:
  twitter:
    consumer_key: YOUR_KEY
    consumer_secret: YOUR_SECRET
    bearer_token: YOUR_TOKEN
  youtube:
    api_key: YOUR_KEY
  google_cloud:
    project_id: YOUR_ID
    keyfile_name: YOUR_FILENAME
